body {background-image: url(../img/image.png); font-family: Arial, Verdana, sans-serif;}

#header {padding-left: 20px; text-align: left; height: 40px; position: fixed; left: 0; top: 0; width: 100%; background: rgba(200, 100, 0, 0.8);}
#header h1 {float: left; font-size: 15px; margin-right: 40px;}
#header h1 a {color: rgba(255, 255, 255, 1); text-decoration: none;}
#userBox {border: 1px solid black;width: 400px; height: 50px; margin-left: auto; position: relative; top: 10; border: 1px solid #AAA; border-radius: 5px}
#userBox span {position: relative; top: 10; left: 20;}

/* GESTIONE MENU A TENDINA */
.nav {list-style:none; margin:0; padding: 0;}                                                                                                                                                                                                                                        
.nav > li, .nav > li > a { display:inline-block; *display:inline; /* Per IE7 */ zoom:1; /* Per IE 7 */ }
.stacked > li {display:list-item;}
.stacked > li > a {display:block;}
.flyout, .flyout-alt {position:relative;}
.flyout-content {position:absolute; top:100%;left:-99999px; height:0; overflow:hidden;}
.flyout:hover > .flyout-content {left:0;}
.flyout-alt:hover > .flyout-content {top:0; left:100%;}
.flyout:hover > .flyout-content, .flyout-alt:hover > .flyout-content {height:auto;overflow:visible;}

.site-nav a { line-height:0.5;  padding:1em; color:#fff; white-space:nowrap; text-decoration: none;}
.site-nav .flyout:hover > a, .site-nav .flyout-alt:hover > a, .site-nav a:hover {  background-color: rgba(200, 100, 0, 0.8);}
.site-nav .flyout-alt > a:after {  content:" »";}                                                                                        |
.site-nav > li > a {border-left-width:1px;}
.site-nav > li:first-child > a {border:none;}
.site-nav .flyout-content {border-width:1px 0 0 0;}
.site-nav .flyout-content a {border-bottom-width:1px;}
.site-nav .flyout-alt:hover > .flyout-content{top:-1px;}
.flyout-background {background: rgba(200, 100, 0, 0.7)}

#teamMenu {margin-top: 30px; background: rgba(150, 150, 150, 0.8); width: 200px; float: right; border-radius: 5px; height: 180px;}
#teamMenu span {background: rgba(242, 100, 0, 1);height:20px;padding-top:5px;text-align:center;display:block;border-top-left-radius:5px;border-top-right-radius:5px;}
#teamMenu ul {}
#teamMenu li {list-style-type: none;}
#teamMenu li a {text-decoration: none; color: black}
#teamMenu li a:hover {color: rgba(200, 100, 0, 0.8);}

#main {width: 1000px; margin-left: auto; margin-right: auto; margin-bottom: 50px;  padding: 50px; padding-top: 0;}

#main_content {margin-top: 60px; background: rgba(250, 250, 250, 0.7); min-height: 400px; float: left; width: 860px; border: 1px solid #AAA; border-radius: 5px; padding: 30px; padding-top: 10px;}

.titoloDue {color: #333;border-bottom: 1px solid #333;}

#formLogin {border: 1px solid rgba(200, 100, 0, 1); background: #FFF; width: 400px; height: 280px; margin-left: auto; margin-right: auto; margin-top: 50px; border-radius: 5px;}
#formLogin span {display: block; text-align: center; font-size: 25px; margin-bottom: 20px; margin-top: 10px; }
.loginTextInput {margin-left: 40px; margin-bottom: 5px; text-align: center; height: 40px; width: 300px; background: rgba(200, 200, 200, 0.5); font-size: 20px;}
.loginTextInput:hover {background: rgba(200, 200, 200, 0.3)}
.loginSendInput {border: 1px solid #AAA; color: black; font-size: 12px; margin-left: 40px; margin-bottom: 2px; text-align: center; height: 40px; width: 300px; background: rgba(200, 200, 200, 0.7)}
.loginSendInput a {color: black; text-decoration: none}
.loginSendInput:hover {background: rgba(200, 200, 200, 0.5)}
.gotoRegistrati {color: black; font-size: 14px; margin-left: 40px; margin-top: 10px; text-align: center; width: 300px;}
.gotoRegistrati a {color: black; text-decoration: none;}
.gotoRegistrati a:hover {text-decoration: underline;}
#formLogin fieldset {border: none;}
#formSignup fieldset {border: none;}

#formSignup {border: 1px solid rgba(200, 100, 0, 1); background: #FFF; width: 400px; height: 280px; margin-left: auto; margin-right: auto; margin-top: 50px; border-radius: 5px;}
#formSignup span {display: block; text-align: center; font-size: 25px; margin-bottom: 20px; margin-top: 10px; }

.messageDiv {border: 1px solid red; width: 300px; margin-left: 40px; margin-top: 15px; text-align: center;}

.tableTitle {margin-left: 10%; font-size: 2em}
.tableGiocatori {margin-left: auto; margin-right: auto; border-collapse: collapse; width: 600px; font-size: 15px;}
.tableGiocatori tr {height: 40px;}
.tableGiocatori th {height: 40px;background: rgba(150, 150, 150, 0.2);font-weight: normal;color: rgba(200, 100, 0, 1); border-top: 1px solid #AAA;border-left: 1px solid #FFF; font-size: 15px;}
.tableGiocatori th:hover {background: rgba(100, 100, 100, 0.4);cursor: pointer; text-decoration: underline}
.tableGiocatori td {border-left: 1px solid #FFF;border-right: 1px solid #FFF; text-align: center; font-size: 14px;}
.trpari {background-color: rgba(200, 100, 0, 0.4);}
.trpari:hover {background-color: rgba(200, 100, 0, 0.6);}
.trdispari {background-color: rgba(200, 200, 200, 0.4);}
.trdispari:hover {background-color: rgba(200, 200, 200, 0.8);}

#tableGiocatoriSchedaTeam {margin-left: auto; margin-right: auto; border-collapse: collapse; width: 601px; font-size: 15px;}
#tableGiocatoriSchedaTeam tr {height: 40px;}
#tableGiocatoriSchedaTeam th {height: 40px;background: rgba(150, 150, 150, 0.2);font-weight: normal;color: rgba(200, 100, 0, 1); border-top: 1px solid #AAA;border-left: 1px solid #FFF; font-size: 15px;}
#tableGiocatoriSchedaTeam th:hover {background: rgba(100, 100, 100, 0.4);cursor: pointer; text-decoration: underline}
#tableGiocatoriSchedaTeam td {border-left: 1px solid #FFF;border-right: 1px solid #FFF; text-align: center; font-size: 14px;}

.tableSchedaGiocatore {table-layout: fixed; margin-left: auto; margin-right: auto; border-collapse: collapse; width: 600px; font-size: 15px; margin-bottom: 40px;}
.tableSchedaGiocatore tr {height: 40px;}
.tableSchedaGiocatore th {height: 40px;background: rgba(150, 150, 150, 0.2);font-weight: bold;color: rgba(200, 100, 0, 1); border-top: 1px solid #AAA;border-left: 1px solid #FFF; font-size: 15px;}
.tableSchedaGiocatore td {border-left: 1px solid #FFF;border-right: 1px solid #FFF; text-align: center; font-size: 19px;}

.tableSchedaGiocatore2 {table-layout: fixed; margin-left: auto; margin-right: auto; border-collapse: collapse; width: 600px; font-size: 15px; margin-bottom: 40px;}
.tableSchedaGiocatore2 tr {height: 40px;}
.tableSchedaGiocatore2 th {height: 80px;background: rgba(150, 150, 150, 0.2);font-weight: bold;color: rgba(200, 100, 0, 1); border-top: 1px solid #AAA;border-left: 1px solid #FFF; font-size: 15px;}
.tableSchedaGiocatore2 td {height: 100px;border-left: 1px solid #FFF;border-right: 1px solid #FFF; text-align: center; font-size: 41px;}

.tableTeam {margin-left: auto; margin-right: auto; border-collapse: collapse; width: 600px; font-size: 15px; margin-bottom: 40px;}
.tableTeam tr {height: 40px;}
.tableTeam th {height: 60px;background: rgba(150, 150, 150, 0.2);font-weight: bold;color: rgba(200, 100, 0, 1); border-top: 1px solid #AAA;border-left: 1px solid #FFF; font-size: 18px;}
.tableTeam td {height: 40px;border-left: 1px solid #FFF;border-right: 1px solid #FFF; text-align: center; font-size: 18px;}
.tableTeam td a {color: black; text-decoration: none;}
.tableTeam td a:hover {text-decoration: underline;}
.tableTeam button {width: 100%;}

#divSearch table {margin-left: auto; margin-right: auto; background: rgba(200, 100, 0, 0.8); width: 600px; border-collapse: collapse; margin-bottom: 40px}
#divSearch table th {height: 40px; cursor: pointer}
#divSearch table td {height: 30px; text-align: center;}
#divSearch table td span {font-size: 18px; text-align: center}
.searchSelected {background: rgba(256, 255, 255, 0.8); height: 50px;}
.divSearchSelected {background: rgba(255, 255, 255, 0.8); text-decoration: underline}
.searchInput {width: 80%;}
#searchCerca {height: 10px;background: rgba(255, 255, 255, 0.8);}
#searchCerca button{width: 87%;}

#headerTeam table {table-layout: fixed; margin-left: auto; margin-right: auto; background: rgba(200, 100, 0, 0.8); width: 600px; border-collapse: collapse; margin-bottom: 40px}
#headerTeam table th {height: 40px; cursor: pointer}
#headerTeam table th:hover {background: rgba(255, 255, 255, 0.5)}
#heaedrTeam table td {height: 30px; text-align: center;}
#headerTeam .selected {background: rgba(255, 255, 255, 0.5)}

#puntiGuadagnati {margin-top: 30px;margin-left: auto; margin-right: auto;width: 600px; text-align: right; font-size: 22px; }
#schieraFormazione {margin-top: 30px; margin-left: 15%; margin-right: auto; width: 600px;}

.scrollTable {color: blue; margin-top: 30px; width: 100%; text-align: center; cursor: pointer;}
.scrollTable a:hover {text-decoration: underline}

#footer {display: none; background: rgba(255, 255, 255, 0.5);width: 925px; margin-left: 23.5%;}

.click {text-decoration: none; color: black;}
.click:hover {text-decoration: underline; cursor: pointer; color: rgba(200, 100, 0, 1);}
.stdWidth {}
.stdHeight {height: 600px;}.invisible {display: none}
.invisible {display: none}
.ontheright {margin-left: 40%;}

.link {color: rgba(200, 100, 0, 1); text-decoration: none;}
.link:hover {text-decoration: underline}

